@import url(font-awesome.min.css);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }



/* Header */
body {
	background: #fff;
	color: #e9e9e9;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.animatedheader .large-header {
	background-image: url('../img/bg.jpg');
}

.main-title {
	position: relative;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	left: 50%;
	bottom:53%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.sub-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	bottom: 33%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
#sub-title{
	margin:0;
	padding:0;
}
.animatedheader .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.animatedheader .sub-title{
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.08em;
}


.main-title .thin {
	font-weight: 200;
}
.sub-title .thin {
	font-weight: 200;
}

/*button*/
a {
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #373e18;
}


.a,
section button {
	position:absolute;
	top:5px;
	right:5px;
	display: inline-block;
	background: rgba(#757373, 0.39);
	color: #000000;
	font-weight: 400;
	padding: 10px 20px;
	margin: 5px;
	text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: 1px;
}

section {
	padding: 1em 2em 1em;
	text-align: center;
	font-size: 1.5em;
}

section button {
	border: none;
	padding: 5px 10px;
	outline: none;
	background: rgba(#b6b6b6, 0.31);
}
/* Menu button */

.menu-button {
	position: absolute;
	z-index: 1000;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 22px;
	padding: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.no-js .menu-button {
	display: none;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 2px;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu-button::before {
	-webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	-webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
	opacity: 0;
}

.menu-button--open::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}
/*icons*/

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -18.675em;
	text-align: center;

}

	ul.icons li {
		display: inline-block;
		padding: 0.675em 0.5em;
		opacity: 1;
	}

		ul.icons li a {
			text-decoration: none;
			position: relative;
			display: block;
			width: 3.75em;
			height: 3.75em;
			border-radius: 100%;
			border: solid 1px #c8cccf;
			line-height: 3.75em;
			overflow: hidden;
			text-align: center;
			text-indent: 3.75em;
			white-space: nowrap;
		}

			ul.icons li a:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;

			}


			ul.icons li a:before {
				color:#0A1A2A;
				text-shadow: 1px 0px 0px #c8cccf, -1px 0px 0px #c8cccf, 0px 1px 0px #c8cccf, 0px -1px 0px #c8cccf;
			}

			ul.icons li a:hover:before {
				text-shadow: 1px 0px 0px #FCE4B7, -1px 0px 0px #FCE4B7, 0px 1px 0px #FCE4B7, 0px -1px 0px #FCE4B7;
			}

			ul.icons li a:before {
				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;
				font-size: 1.85rem;
				line-height: inherit;
				text-align: center;
				text-indent: 0;
			}

			ul.icons li a:hover {
				border-color: #FCE4B7;
			}


	/* Footer */

		#footer {
			-moz-align-self: -moz-flex-end;
			-webkit-align-self: -webkit-flex-end;
			-ms-align-self: -ms-flex-end;
			align-self: flex-end;
			width: 100%;
			padding: 1.5em 0 0 0;
			cursor: default;
			text-align: center;
			position: fixed;
			bottom:5%;
		}

			#footer .copyright {
				margin: 0;
				padding: 0;
				font-size: 0.9em;
				list-style: none;
			}

				#footer .copyright li {
					display: inline-block;
					margin: 0 0 0 0.45em;
					padding: 0 0 0 0.85em;
					line-height: 1;
				}

					#footer .copyright li:first-child {
						border-left: 0;
					}
@media only screen and (min-width : 416px) and (max-width : 768px) {
	.animatedheader .main-title{
		font-size: 3em;
	}
	.animatedheader .sub-title{
		font-size: 0.7em;
		bottom: 30%;
	}
	#footer .copyright{
		font-size: 0.63em;
	}
	ul.icons li a:before {
		font-size: 1.25rem;
	}
	ul.icons li a {
		height: 3rem;
		line-height: 3rem;
		text-indent: 3rem;
		width: 3rem;
	}

}

@media only screen and (max-width : 415px) {
	.animatedheader .main-title{
		font-size: 2.6em;
		bottom:56%;
	}
	.animatedheader .sub-title{
		font-size: 0.6em;
		bottom: 37%;
	}
	#footer .copyright{
		font-size: 0.63em;
	}
	ul.icons li a:before {
		font-size: 1.25rem;
	}
	ul.icons li a {
		height: 3rem;
		line-height: 3rem;
		text-indent: 3rem;
		width: 3rem;
	}

}


.social {
    text-align: center;
    font-size: 17px;
    line-height: 21px;

}

.social-description {
    position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	bottom: 12%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.white {
    color:#f9f1e9;
}
