@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


/* Header */
body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}


.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.animatedheader .large-header {
	background-image: url('../img/bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 44%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.sub-title {
	position: relative;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	bottom: 43%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.animatedheader .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.animatedheader .sub-title{
	text-transform: uppercase;
	font-size: 1.8em;
	letter-spacing: 0.08em;
}


.main-title .thin {
	font-weight: 200;
}
.sub-title .thin {
	font-weight: 200;
}

/*button*/
a {
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #373e18;
}


.a,
section button {
	position:absolute;
	top:5px;
	right:5px;
	display: inline-block;
	background: rgba(#757373, 0.39);
	color: #000000;
	font-weight: 400;
	padding: 10px 20px;
	margin: 5px;
	text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: 1px;
}

section {
	padding: 1em 2em 1em;
	text-align: center;
	font-size: 1.5em;
}

section button {
	border: none;
	padding: 5px 10px;
	outline: none;
	background: rgba(#b6b6b6, 0.31);
}
/* Menu button */

.menu-button {
	position: absolute;
	z-index: 1000;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 22px;
	padding: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.no-js .menu-button {
	display: none;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 2px;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu-button::before {
	-webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	-webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
	opacity: 0;
}

.menu-button--open::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.navbar-default {
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}
.navbar-default .navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}

.affix{
    background-color: #282828;
    padding-top:10px;
    padding-bottom:10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav > li > a {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d5d5d5;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #d5d5d5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #d5d5d5;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

@media (max-width: 768px){
    .dropdown-submenu li a{
        text-align:center;
    }
}

/*
 * Showup.js jQuery Plugin
 * http://github.com/jonschlinkert/showup
 *
 * Copyright (c) 2013 Jon Schlinkert, contributors
 * Licensed under the MIT License (MIT).
 */

/**
 * Docs navbar transitions effects
 */

.navbar {
    -webkit-transition: -webkit-transform .5s .5s, background .5s, color .1s;
    -moz-transition:    -moz-transform .5s .5s, background .5s, color .1s;
    -o-transition:      -o-transform .5s .5s, background .5s, color .1s;
    transition:         transform .5s .5s, background .5s, color .1s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navbar-tall,
.navbar-show {
    opacity: 1;
    -webkit-transition: -webkit-transform .25s, background 2s, color .3s;
    -moz-transition:    -moz-transform .25s, background 2s, color .3s;
    -o-transition:      -o-transform .25s, background 2s, color .3s;
    transition:         transform .25s, background 2s, color .3s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navbar-hide {
    opacity: 0;
    -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0.3s;
    -moz-transition:    -moz-transform .2s, background .3s, color .3s, opacity 0.3s;
    -o-transition:      -o-transform .2s, background .3s, color .3s, opacity 0.3s;
    transition:         transform .2s, background .3s, color .3s, opacity 0.3s;
    -webkit-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px);
}


.navbar-tall,
.navbar-short,
.navbar-tall .navbar-brand,
.navbar-short .navbar-brand,
.navbar-tall .navbar-nav > li > a,
.navbar-short .navbar-nav > li > a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-short {
    min-height: 40px;
}
.navbar-short .navbar-brand {
    font-size: 16px;
    padding: 13px 15px 10px;
}
.navbar-short .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}


.navbar-tall {
    min-height: 70px;
}
.navbar-tall .navbar-brand {
    font-size: 24px;
    padding: 25px 15px;
}
.navbar-tall .navbar-nav > li > a {
    padding-top: 25px;
}



@media only screen and (max-width : 768px) {
	.animatedheader .main-title{
		font-size: 3em;
	}
	.animatedheader .sub-title{
		font-size: 1.2em;
	}

}
