@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Raleway',Calibri,arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#050811), to(#3a404e));
    background: -webkit-linear-gradient(#050811, #3a404e);
    background: linear-gradient(#050811,#3a404e);
}

#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#3a404e), to(#fff0c1));
    background: -webkit-linear-gradient(#3a404e, #fff0c1);
    background: linear-gradient(#3a404e,#fff0c1);
}
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.animatedheader .large-header {
	background-image: url('../img/bg.jpg');
}

.main-title {
	position: relative;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	left: 50%;
	top:-60%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.sub-title {
	position: relative;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	left: 50%;
	top:-62%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
#sub-title{
	margin:0;
	padding:0;
}
.animatedheader .main-title{
	text-transform: uppercase;
	font-size: 3.2em;
	letter-spacing: 0.1em;
}
.animatedheader .sub-title{
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 0.08em;
}


.main-title .thin {
	font-weight: 200;
}
.social-description .thin{
    font-weight: 200;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
}
.sub-title .thin {
	font-weight: 200;
}

.white {
    color:#f9f1e9;
}
